<ul>
  <li><a href="/#!/t/<%= this['_id'] %>"><img src="http://img.youtube.com/vi/<%= this['youtubeid'] %>/2.jpg" alt="<%= this.name %> image"/></a></li>
  <li>
    <h3><a href="/#!/t/<%= this['_id'] %>"><%= this.formatname() %></a></h3>
  </li>
  <li><%= this.position %></li>
</ul>
